{% extends "base_generic.html" %}

{% block content %}

<!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'index' %}">Strona Główna</a>
            </li>
            <li class="breadcrumb-item">Drużyny</li>
          </ol>
          <div class="card mb-3 mt-5">
            <div class="card-header">
              <i class="fas fa-futbol"></i>
              Drużyny</div>
            <div class="card-body">
              <div class="table-responsive">
                {% if perms.teams.can_modify_team %}
                  <a href="#" class="btn btn-sm btn-success">
                    <span class="fas fa-plus fa-sm"></span> Dodaj drużynę
                  </a>
                <hr>
                {% endif %}
                {% if team_list %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nazwa drużyny</th>
                      {% if perms.teams.can_modify_team %}
                      <th>Akcje</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Nazwa drużyny</th>
                      {% if perms.teams.can_modify_team %}
                      <th>Akcje</th>
                      {% endif %}
                    </tr>
                  </tfoot>
                  {% for team in team_list %}
                  <tbody>
                    <tr>
                      <td><a href="{{ team.get_absolute_url }}">{{ team.name }}</a></td>
                      {% if perms.teams.can_modify_team %}
                      <td>
                        <a href="#" class="btn btn-sm btn-secondary">
                          <span class="fas fa-pencil-alt fa-sm"></span>
                        </a>

                        <a href="#" class="btn btn-sm btn-danger">
                          <span class="fas fa-trash-alt fa-sm"></span>
                        </a>
                      </td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
  {% else %}
  <p>Brak drużyn</p>
          </div>
{% endif %}
{% endblock %}